// import the CSS framework
@import "foundation";

.submit {
  @extend .button;
  @extend .radius;
}

section {
  @extend .row;
  margin-bottom: 20px;
}

header {
  margin-bottom: 20px;
}

main {
  footer {
    padding: 20px 0;
    background: $primary-color;

    &, a {
      color: mix($primary-color, #fff);
    }
  }
}
