<footer>
  <section>
    <div class="column">
      <p class="right">
        12/2013 &middot; <%= link_to 'github.com/cfleschhut/learn-rails', 'https://github.com/cfleschhut/learn-rails' %>
      </p>
    </div>
  </section>
</footer>
